doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, minimum-scale=1.0, maximum-scale=1.0')
    link(rel='stylesheet', type="text/css",href='/css/jquery-ui.structure.min.css')
    link(type="stylesheet" href='/css/bootstrap.min.css.map')
    link(rel='stylesheet', type="text/css",href='/css/bootstrap.min.css')
    link(rel='stylesheet', type="text/css",href='/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/css/style.css')

    script(src='/js/jquery-2.2.0.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/alertify.min.js')
    script(src='/js/main.js')

  body
    block content