html, body {
    height: 100%;
    overflow: hidden;
}
/* COMMONS */
#loading {
    position: absolute;
    z-index: 999;
    height: 65px;
    width: 65px;
    margin-top: 1.5%;
    margin-left: 84%;
}

/* LOGIN BLOCK */
#login {
    position: absolute;
    height: 600px;
    padding: 10% 10% 0 10%;
    margin-top:  17.5%;
    background: black;
}
#login #loginBtn {
    margin-top: 10%;
    padding: 5%;
    font-size: 200%;
    font-weight: bolder;
    text-align: center;
}
#login .input-lg {
    margin-top:5%;
    margin-bottom: 5%;
    height: 10%;
    font-size:150%;
}
#loginError {
    padding: 3.5%;
    font-weight: bolder;
    border-radius: 5px;
    font-size: 125%;
    margin-top:10%;
    margin-bottom:7.5%;
    text-align: center;
}

/* INBOX PAGE */
nav div {
    color:white;
    padding: 2.5%;
}
nav #mail {
    font-size: 175%;
}
nav #user {
    font-weight: bolder;
    font-size: 105%;
}
#logOut  {
    border-radius: 45%;
    padding: 1%;
    margin: 1% 0 1% 0;
    left:-1%;
    font-size: 250%;
}
#logOut span {
    color: black;
}

    /* OPTIONS */
    #options {
        margin-top:0;
        background: lightgrey;
        margin-bottom:7.5%;
        padding-right:0;
    }
    #options div {
        padding: 2.5%;
        border: solid transparent;
        border-width: 2px 0 2px 0;
    }
    #options div:hover {
        background: white;
        border-bottom-color: black;
        border-top-color: black;
    }
    #options div span{
        font-size: 250%;
        padding: 1.25%;
    }


    /* INBOX */
    #inbox #tableTitle {
        background: lightgrey;
        padding: 1.5% 0 1.5% 0;
        border: solid black;
        border-width: 10px 2px 0 2px;
        border-radius: 15px 15px 0 0;
        font-size: 150%;
    }
    #loadingInbox {
    position: absolute;
    height: 80px;
    width: 80px;
    margin:15% 0 0 45%;
    z-index: 999;
}
    #noMSG {
        padding: 10%;
        font-weight: bolder;
        font-size: 200%;
        background: lightblue;
        text-align: center;
    }
        /* MAILS */
        .mail{
            padding: 0.50%;
            border: 2px solid darkslateblue;
            border-right: 1px solid black;
            border-left: 1px solid black;
        }
        .mail:hover {
            background: lightcyan;
        }
        #mailList {
            height: 420px;
            overflow-y: scroll;
        }
        /* MAIL BUTTONS */
        .mailButtons {
            border-radius: 15%;
        }
        .readMail {
            padding: 35% 100%;
            right: 50%;
        }
        .readMail .glyphicon-eye-open {
            font-size:150%;
        }
        .checkMail {
            -moz-transform: scale(2);
            -webkit-transform: scale(2);
            top: 50%;
            left: 50%;
        }
        /* MAIL DATA */
        .mailData {
            padding: 0.5% 0.5% 0.5% 10%;
        }
        .mailContent {
            font-size: 150%;
            font-weight: 500;
            padding: 1%;
        }
        .mailTitle {
            border-width: 1px 0 1px 2px;
            background: rgba(56, 56, 56, 0.22) none repeat scroll 0% 0%;
            padding: 1.5%;
            border-style: solid;
            border-color: black;
        }

/* MODAL READ MAIL */
#mailViewer {
    background: rgba(30,30,30,0.9);
}
#mailViewer .modal-backdrop {
    border-radius: 5px;
    padding: 5%;
    height: 500px;
    background: darkgrey;
}
#mailViewer .well-lg {
    background: white;
    position: relative;
    padding: 1.5%;
    border-radius: 30px;
    height: 45%;
    color: indianred;
}
#mailViewer .viewerBlock {
    margin: 1.5%;
    border-radius: 15%;
}
#mailViewer .viewerBlock .viewerField {
    padding: 2.5%;
    margin: -0.5%;
    border-radius: 11px;
    font-weight: bolder;
    font-size: 125%;
    background: lightgrey;
}
#viewerReader {
    background: white!important;
    min-height:125px;
}
#viewerFrom  #viewerDate {
    padding: 1.5% 0;
}
#viewerDelete, #viewerClose {
    background: #bababa;
    background-image: -webkit-linear-gradient(top, #bababa, #175073);
    background-image: -moz-linear-gradient(top, #bababa, #175073);
    background-image: -ms-linear-gradient(top, #bababa, #175073);
    background-image: -o-linear-gradient(top, #bababa, #175073);
    background-image: linear-gradient(to bottom, #bababa, #175073);
    -webkit-border-radius: 41px;
    -moz-border-radius: 41px;
    border-radius: 41px;
    -webkit-box-shadow: 5px 4px 5px #666666;
    -moz-box-shadow: 5px 4px 5px #666666;
    box-shadow: 5px 4px 5px #666666;
    color: black;
    font-size: 29px;
    border: solid #000000 1px;
    text-decoration: none;
    padding: 2.5% 0;
    margin: 5% 5%;
    width: 40%;
}

    /* MODAL WRITE MAIL */
#mailWriter {
    background: rgba(30,30,30,0.9);
}
#mailWriter .modal-backdrop {
    border-radius: 5px;
    padding: 5%;
    height: 500px;
    background: darkgrey;
}
#mailWriter .well-lg {
    background: white;
    position: relative;
    padding: 1.5%;
    border-radius: 30px;
    height: 32.5%;
}
#mailWriter .viewerBlock {
    margin: 1.5%;
    border-radius: 15%;
}
#mailWriter .viewerBlock .viewerField {
    padding: 2.5%;
    margin: -0.5%;
    border-radius: 11px;
    font-weight: bolder;
    font-size: 125%;
    background: lightgrey;
}
#writerText {
    background: white!important;
    min-height:125px;
    padding: 1.5%;
}
#writerTo,  #writerSubject {
    padding: 1.5% 0;
}
#writerClose, #writerSend {
    background: #bababa;
    background-image: -webkit-linear-gradient(top, #bababa, #175073);
    background-image: -moz-linear-gradient(top, #bababa, #175073);
    background-image: -ms-linear-gradient(top, #bababa, #175073);
    background-image: -o-linear-gradient(top, #bababa, #175073);
    background-image: linear-gradient(to bottom, #bababa, #175073);
    -webkit-border-radius: 41px;
    -moz-border-radius: 41px;
    border-radius: 41px;
    -webkit-box-shadow: 5px 4px 5px #666666;
    -moz-box-shadow: 5px 4px 5px #666666;
    box-shadow: 5px 4px 5px #666666;
    color: black;
    font-size: 29px;
    border: solid #000000 1px;
    text-decoration: none;
    padding: 2.5% 0;
    margin: 5% 5%;
    width: 40%;
}

/* MODAL SEND MAIL */

/* MEDIA QUERIES */
@media screen and (min-width: 480px) {
    /* COMMONS */
    #loading {
        height: 65px;
        width: 65px;
        margin-left:85%;
    }
    /* LOGIN BLOCK */
    #login {
        height: 800px;
        margin-top: 16%;
    }
    #login #loginBtn {
        margin-top: 20%;
    }
    #login #loginBtn span {
        text-align: center;
    }
    #loginError {
        font-size: 125%;
    }
    /* INBOX PAGE */
    nav #mail {
        font-size: 200%;
    }
    #logOut  {
        border-radius: 40%;
    }
    /* MAILS */
    .mailTitle {
        padding-top: 1%;
        padding-bottom: 1.5%;
    }
        /* MAIL BUTTONS */
        .mailButtons {
            padding: 0;
            margin-right: 5%;
            margin-left: 1.5%;
            margin-top: 1%;
        }
        .readMail {
            padding: 100% 199%!important;
            right: 175%;
            top: 15%;
        }
        .checkMail {
            top: 20px;
            left: -50%;
        }
        /* MAIL DATA */
        .mailData {
        padding: 0.5%;
    }
        .mailContent {
            font-size: 125%;
        }

}
@media screen and (min-width: 640px) {
    /* COMMONS */
    #loading {
        height: 75px;
        width: 75px;
        margin-left:87.5%;
    }
    /* LOGIN BLOCK */
    #login {
        height: 800px;
        margin-top: 13.5%;
    }
    #loginError {
        font-size: 150%;
    }
    /* INBOX PAGE */
    nav #mail {
        font-size: 225%;
    }
    #logOut  {
        border-radius: 30%;
    }
    /* MAILS */
        .mailTitle {
            padding-top: 1%;
            padding-bottom: 1.5%;
        }
        /* MAIL BUTTONS */
        .mailButtons {
            padding: 0;
            margin-right: 10px;
            margin-top: 0.5%;
            margin-left: 0.5%;
        }
        .readMail {
            padding: 35% 100%!important;
            right: 90%;
            top: 15%;
        }
        .checkMail {
            top: 20px;
            left: -25%;
        }
}
@media screen and (min-width: 720px) {
    /* COMMONS */
    #loading {
        height: 75px;
        width: 75px;
        margin-left:87.5%;
    }
    /* LOGIN BLOCK */
    #login {
        height: 800px;
        margin-top: 13.5%;
    }
    #loginError {
        font-size: 175%;
    }
    /* INBOX PAGE */
    nav #mail {
        font-size: 250%;
    }
    #logOut  {
        margin-bottom: 0;
        margin-top: 0.5%;
        padding: 1.5%;
        border-radius: 25%;
    }
    /* MAIL */
    .readMail {
        padding: 26% 78% !important;
        right: 50%;
        top: 0;
    }
    .checkMail {
        top: 15px;
        left: -10%;
    }
}
@media screen and (min-width: 820px) {
    /* COMMONS */
    #loading {
        height: 85px;
        width: 85px;
        margin-left: 89%;
    }
    /* LOGIN BLOCK */
    #login {
        height: 900px;
        margin-top: 12%;
    }
    /* INBOX PAGE */
    nav #mail {
        font-size: 225%;
    }
    .mailTitle {
        padding-top: 1.5%;
        padding-bottom: 0.5%;
    }
    /* MAIL BUTTONS */
    .mailButtons {
        padding: 0;
        margin-right: 7px;
        margin-left: 1.5%;
        margin-top: 0.5%;
    }
    .readMail {
        right: 55%;
        padding: 20% 65% !important;
        top: 0;
    }
    .checkMail {
        top: 15px;
        left: -7.5%;
    }
}
@media screen and (min-width: 992px) {
    /* COMMONS */
    #loading {
        margin-left: 92%;
        margin-top:0.5%;
    }
    /* LOGIN BLOCK */
    #login {
        margin-top: 0.5%!important;
        border-radius: 50px;
        height: 625px;
    }
    #login #loginBtn {
        width: 100%;
        margin-top: 10%;
    }
    #loginError {
        font-size: 125%;
        padding: 5%;
    }
    /* INBOX PAGE */
    nav #mail {
        font-size: 200%;
    }
    #logOut {
        margin-top: 1%;
        margin-bottom: 1%;
        padding: 1% 0 1% 0;
        border-radius: 20%;
        width: 10%;
        left: 5%;
    }
    /* OPTIONS */
    #options {
        left:1.25%;
        border-radius: 30% 0 0 30%;
    }
    #options div {
        margin: 25% 0 25% 0;
        padding: 25% 0 25% 0;
        border-radius: 35% 0 0 35%;
    }
    #options div:hover {
        border-left: 5px solid black;
    }
    #options div span{
        font-size: 250%;
        padding: 1.25%;
    }
    /* MAILS */
    .mailTitle {
        padding-top: 1%;
        padding-bottom: 1%;
    }
    /* MAIL BUTTONS */
    .mailButtons {
        margin-left: 0;
        margin-top: 0.5%;
    }
    .readMail {
        padding: 45% 275%!important;
        right: 150%;
        top: -30%!important;
    }
    .checkMail {
        top: -30% !important;
        left: 45%;
    }
    .mailContent {
        font-size: 100%;
    }
}

@media screen and (min-width: 1124px) {
    /* MAIL */
    .mailButtons {
        margin-left: 0.5%;
        margin-top: 1%;
    }
    .readMail {
        padding: 20% 180%!important;
        right: 150%;
        top: -35%!important;
    }
    .checkMail {
        top: -30%!important;
        left: 0;
    }
}
@media screen and (min-width: 1366px) {
    /* COMMONS */
    #loading {
        margin-left: 93.5%;
    }
    /* LOGIN BLOCK */
    #login {
        height: 625px;
    }
    /* INBOX PAGE */
    #inbox #tableTitle {
        padding: 1% 0 1% 0;
    }
    nav div {
        padding: 2%;
    }
    nav #mail {
        font-size: 175%;
    }
    #logOut  {
        padding: 0.75%;
        border-radius: 15%;
        width: 7.5%;
        left: 7.5%;
    }
    /* OPTIONS */
    #options {
        left:0.9%;
    }
    /* MAIL */
    .mailButtons {
        margin-left: 0.5%;
        margin-top: 0.5%;
    }
    .readMail {
        padding: 15% 120%!important;
        right: 100%;
        top: 10%!important;
    }
    .checkMail {
        top: 25%!important;
        left: 0;
    }
    .mailData {
        padding: 0.15%;
    }

}
@media screen and (min-width: 1680px) {
    /* COMMONS */
    #loading {
        margin-left: 95%;
    }
    /* LOGIN BLOCK */
    #login {
        margin-top:5%;
        height: 750px;
        padding-top: 5%;
    }
    /* INBOX PAGE */
    nav div {
        padding: 1.75%;
    }
    nav #mail {
        font-size: 150%;
    }
    #logOut  {
        margin: 0.5% 0 0.5% 0;
        padding: 0.5%;
        width: 5%;
        left: 10%;
    }
    /* OPTIONS */
    #options {
        left:0.7%;
    }
    /* MAIL */
    .readMail {
        padding: 15% 75%!important;
        right: 50%;
        top: -35%!important;
    }
    .checkMail {
        top: 35%!important;
        left: 0;
    }
    .mailData {
        padding: 0.05%;
    }
}
